.ipynb_checkpoints
risk_evaluation/
catboost_info/
datasets/
datasets/
notebooks/.ipynb_checkpoints/
notebooks/application_after_eda.csv
notebooks/application_test_after_eda.csv
notebooks/bureau_agg_features.csv
notebooks/previous_applications_agg_features.csv
notebooks/submission.csv
notebooks/catboost_info/
.DS_Store
.idea/
__pycache__/
notebooks/__pycache__/
Home Credit Default Risk.pdf